{% extends 'base.html.twig' %}

{% block title %}{{'Log in'|trans}}{% endblock %}

{% block body %}
    <form method="post">
        <div class="col-6 mx-auto text-center">

            <h1 class="h1 app-title">Formadytho</h1>

            <img class="mb-3" width="180" src='{{ asset('images/logo.png') }}'> 

            <label for="inputEmail" class="sr-only">{{'Email'|trans}}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rad-rounded" placeholder="Email" required autofocus>
            <br/>
            <label for="inputPassword" class="sr-only">{{'Password'|trans}}</label>
            <input type="password" name="password" id="inputPassword" class="form-control rad-rounded" placeholder="Password" required>
            <br/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
            
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

            <button class="btn btn-lg btn-primary rad-rounded-xs px-5 mb-4" type="submit">
                {{'Log in'|trans}}
            </button>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h5 class="h5 font-weight-normal fixed-bottom">©{{ "now"|date("Y") }} - Formadytho</h5>
        </div>
    </form>
{% endblock %}
