{% extends 'base.html.twig' %}

{% block title %}{{'Welcome!'|trans}}{% endblock %}

{% block body %}

    <div class="grid">

        <div class='text-center'>
            <h2 class="card-title">Le logiciel de gestion des formations F.C. Pro</h2>
        </div>
        <div class='text-center'>
            <h5 class="card-title text-center font-italic">Importer un nouveau fichier .csv pour démarrer</h5>
        </div>

        <div class='text-center'>
            {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_errors(form.file_name) }}
                {{ form_widget(form.file_name) }}

                {{ form_widget(form.submit) }}

                {{ form_rest(form) }}
                
            {{ form_end(form) }}
        <div>

    </div>
    
    <div class="text-center fixed-bottom">
        <h5 class="h5 font-weight-normal">©{{ "now"|date("Y") }} - Forma</h5>
    </div>

{% endblock %}
