{{ form_start(form) }}
    <h5>{{'Name'|trans}}</h5>
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Street'|trans}}</h5>
    {{ form_errors(form.street) }}
    {{ form_widget(form.street, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Postal code'|trans}}</h5>
    {{ form_errors(form.postal_code) }}
    {{ form_widget(form.postal_code, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'City'|trans}}</h5>
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save'|trans) }}</button>
        </div>
    </div>
{{ form_end(form) }}
