{{ form_start(form) }}
    <label>{{'Street'|trans}}</label>
    {{ form_errors(form.street) }}
    {{ form_widget(form.street, {'attr': {'class': 'mb-3'}}) }}

    <label>{{'Postal code'|trans}}</label>
    {{ form_errors(form.postal_code) }}
    {{ form_widget(form.postal_code, {'attr': {'class': 'mb-3'}}) }}

    <label>{{'City'|trans}}</label>
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
