{% extends 'base.html.twig' %}

{% block title %}{{'Session index'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('new') == 'success' %}
        <div class="text-center mx-auto alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5>{{'Training successfuly added'|trans}}</h5>
        </div>
    {% endif %}

    <h1 class='text-center mb-3'>{{'Sessions list'|trans}}</h1>

    <div class='row justify-content-center'>
        <div class='col text-center mb-3'>
            <a href="{{ path('session_export') }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Export to Excel'|trans}}</button></a>
        </div>
    </div>

    <div class="row text-center tab-header">
        <div class="col-5 tab-cell-header px-2 py-2">
            {{'Training'|trans}}
        </div>
        <div class="col-5 tab-cell-header px-2 py-2">
            {{'Training location'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Date'|trans}}
        </div>
    </div>

    {% set previousSessionUpload = '' %}
    {% set color = 'light-alt' %}
    
    {% for session in sessions | sortByField('upload','desc') %}

        {% set currentSessionUpload = session.upload.fileName %}

        {% if currentSessionUpload != previousSessionUpload %}
            {% if color == 'light' %}
                {% set color = 'light-alt' %}
            {% else %}
                {% set color = 'light' %}
            {% endif %}
        {% endif %}
        
        <a href="{{ path('session_show', {'id': session.id}) }}" class="link-unstyled">
            <div class="row text-center tab-row link-style-disabled tab-row-{{ color }}">
                <div class="col-5 tab-cell px-2 py-2">
                    {{ session.training }}
                </div>
                <div class="col-5 tab-cell px-2 py-2">
                    {{ session.location }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ session.date ? session.date|date('d-m-Y') : '' }}
                </div>
            </div>
        </a>

        {% set previousSessionUpload = currentSessionUpload %}

    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">{{'No entry found'|trans}}</div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
