{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <h1>Create new Session</h1>

    {{ file_name }}

    <table class="table">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Raison sociale</th>
            </tr>
        </thead>
        <tbody>
            {% for trainee in session.trainees %}
                <td>{{ trainee.Email }}</td>
                <td>{{ trainee.first_name }}</td>
                <td>{{ trainee.last_name }}</td>
                {# <td>{{ trainee.Email }}</td> #}
            {% endfor %}
        </tbody>

    {{ include('session/_form.html.twig') }}

    <a href="{{ path('session_index') }}">back to list</a>
{% endblock %}
