{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('session_index') }}"><button class="btn btn-lg btn-primary rad-rounded-xs px-5">Back to list</button></a>
        </div>
        <div class='col text-center'>
            <a href="{{ path('session_edit', {'id': session.id}) }}"><button class="btn btn-lg btn-primary rad-rounded-xs px-5">Editer</button></a>
        </div>
        <div class='col text-center'>
            <a href="#"><button class="btn btn-lg btn-primary rad-rounded-xs px-5">Feuille d'émargement</button></a>
        </div>
    </div>

    <h1 class="text-center">{{ session.training }}</h1>

    <div class='row mb-5 justify-content-center'>
        <h5 class='platform-name py-2 px-4'>{{ session.training.platform }}</h5>
    </div>

    <h5>Category</h5>
    {% if session.training.trainingCategory %}
        <h6 class="font-italic mb-5">{{ session.training.trainingCategory.title }}</h6>
    {% else %}
        <h6 class="font-italic text-danger mb-5">No category set for this session</h6>
    {% endif %}


    <h5>Instructor{% if session.instructors|length > 1 %}s{% endif %}</h5>
    {% if session.instructors|length > 0 %}
        <h6>
        {% for instructor in session.instructors %}
            {{ instructor.lastName }} {{ instructor.firstName }},
        {% endfor %}
        </h6><div class='mb-5'></div>
    {% else %}
        <h6 class="font-italic text-danger mb-5">No instructor set for this session</h6>
    {% endif %}

    
    <h5>Goal{% if session.training.goals|length > 1 %}s{% endif %}</h5>
    {% if session.training.goals|length > 0 %}
        {% for goal in session.training.goals %}
            <h6 class='font-italic goal-border pb-2'>{{ goal.title }}</h6>
        {% endfor %}
        <div class='mb-5'></div>
    {% else %}
        <h6 class="font-italic text-danger mb-5">No goal set for this session</h6>
    {% endif %}


    <a href='/uploads/{{ session.upload.fileName }}'><h5>{{ session.upload.fileName }} <i class="fas fa-download"></i></h5></a>

    <div class="row text-center tab-header">
        <div class="col-2 tab-cell-header px-2 py-2">
            Last name
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            First name
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            Email
        </div>
        <div class="col-4 tab-cell-header px-2 py-2">
            Company
        </div>
        <div class="col-1 tab-cell-header px-2 py-2">
            Convention
        </div>
    </div>
    {% for trainee in session.trainees %}
        <div class="row text-center tab-row link-style-disabled">
            <div class="col-2 tab-cell px-2 py-2">
                {{ trainee.lastName }}
            </div>
            <div class="col-2 tab-cell px-2 py-2">
                {{ trainee.firstName }}
            </div>
            <div class="col-3 tab-cell px-2 py-2">
                {{ trainee.email }}
            </div>
            <div class="col-4 tab-cell px-2 py-2">
                {{ trainee.company.corporateName }}
            </div>
            <div class="col-1 tab-cell px-2 py-2">
                <a href="#"><i class="fas fa-file-alt h5"></i></a>
            </div>
        </div>
    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">No entry found</div>
            </div>
        </div>
    {% endfor %}
    <div class="mb-5"></div>
{% endblock %}
