{% extends 'base.html.twig' %}

{% block title %}{{'Session'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('alert') == 'success' %}
        <div class="text-center mx-auto mb-5 alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="alert-heading">Word successfully created</h5>
        </div>
    {% endif %}

    <a href="{{ path('session_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('session_edit', {'id': session.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Edit'|trans}}</button></a>
        </div>
        {% if session.training.platform != 'Formiris' %}
            <div class='col text-center'>
                <a href="{{ path('session_tally_sheet', {'id': session.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Tally sheet'|trans}}</button></a>
            </div>
        {% endif %}
    </div>

    <h1 class="text-center mb-5">{{ session.training }}</h1>

    <div class='d-flex row mb-5 justify-content-around'>
    
        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon far fa-calendar-alt fa-2x"></i><label class='h4 px-3'>Horaires</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <h5 class='mb-3'>Le {{ session.date|date("d/m/Y") }}</h5>
                <hr>
                <h5 class="text-center w-100">Matinée : {{ session.startTimeAm|date("H\\h\i") }}-{{ session.endTimeAm|date("H\\h\i") }}</h5>
                <h5 class="text-center w-100">Après-midi : {{ session.startTimePm|date("H\\h\i") }}-{{ session.endTimePm|date("H\\h\i") }}</h5>
                <hr>
                <h5>{{ session.endTimeAm|date_minus(session.startTimeAm,session.endTimePm,session.startTimePm) }} de formation</h5>
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-map-marker-alt fa-2x"></i><label class='h4 px-3'>Location</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if session.location %}
                    <h5>{{ session.location.name}}</h5>
                    <h5>{{ session.location.street}}</h5>
                    <h5>{{ session.location.postalCode}} - {{ session.location.city}}</h5>
                {% else %}
                    <h5 class="font-italic text-danger">No location set for this session</h5>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-user-tie fa-2x"></i><label class='h4 px-3'>{{'Instructor'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if session.instructors|length > 0 %}
                    {% for instructor in session.instructors %}
                        <h5>{{ instructor.lastName }} {{ instructor.firstName }}</h5>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h5 class="font-italic text-danger">{{'No instructor set for this session'|trans}}</h5>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-hashtag fa-2x"></i><label class='h4 px-3'>Training reference</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if session.training.referenceNumber != 'Non-renseigné' %}
                    <h5>{{ session.training.referenceNumber }}</h5>
                {% else %}
                    <h5 class="font-italic text-danger">Réference de formation non-renseigné</h5>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-list-ul fa-2x"></i><label class='h4 px-3'>Training category</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if session.training.trainingCategory %}
                    <h5>{{ session.training.trainingCategory.title }}</h5>
                {% else %}
                    <h5 class="font-italic text-danger">No category set for this session</h5>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-bullseye fa-2x"></i><label class='h4 px-3'>Training goals</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if session.training.goals|length > 0 %}
                    {% for goal in session.training.goals %}
                        <h5>{{ goal.title }}</h5>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h5 class="font-italic text-danger">No goal set for this training</h5>
                {% endif %}
            </div>
        </div>
    </div>


    <a href="{{ path('session_all_documents', {'id': session.id}) }}">
        <button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5 mb-3">{{'Publipostage'|trans}} <i class="fas fa-file-alt fa-lg"></i></button>
    </a>
    <a href="/uploads/{{ session.upload.fileName }}" class='disabled'>
        <button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5 mb-3">{{ session.upload.fileName|trans }} <i class="fas fa-download fa-lg"></i></button>
    </a>

    <div class="row text-center tab-header">
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Civility'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Last name'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'First name'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'Email'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'Company'|trans}}
        </div>
    </div>
    {% for trainee in session.trainees %}
        <div class="row text-center tab-row link-style-disabled">
            <div class="col-2 tab-cell px-2 py-2">
                {{ trainee.civility }}
            </div>
            <div class="col-2 tab-cell px-2 py-2">
                {{ trainee.lastName }}
            </div>
            <div class="col-2 tab-cell px-2 py-2">
                {{ trainee.firstName }}
            </div>
            <div class="col-3 tab-cell px-2 py-2">
                {{ trainee.email }}
            </div>
            <div class="col-3 tab-cell px-2 py-2">
                {{ trainee.company.corporateName }}
            </div>
        </div>
    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">{{'No entry found'|trans}}</div>
            </div>
        </div>
    {% endfor %}
    <div class="mb-5"></div>
{% endblock %}
