{% extends 'base.html.twig' %}

{% block title %}{{'Instructor index'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('new') == 'success' %}
        <div class="text-center mx-auto alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5>{{'Instructor successfuly added'|trans}}</h5>
        </div>
    {% endif %}

    <div class='row justify-content-center mb-3'>
        <div class='col text-center'>
            <a href="{{ path('instructor_new') }} "><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'New instructor'|trans}}</button></a>
        </div>
    </div>

    <h1 class='text-center mb-3'>{{'Instructor list'|trans}}</h1>

    <div class="row text-center tab-header">
        <div class="col-4 tab-cell-header px-2 py-2">
            {{'Last name'|trans}}
        </div>
        <div class="col-4 tab-cell-header px-2 py-2">
            {{'First name'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Profession'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Trainings'|trans}}
        </div>
    </div>
    {% for instructor in instructors | sortByField('lastName','asc') %}
        <a href="{{ path('instructor_show', {'id': instructor.id}) }}" class="link-unstyled">
            <div class="row text-center tab-row link-style-disabled">
                <div class="col-4 tab-cell px-2 py-2">
                    {{ instructor.lastName }}
                </div>
                <div class="col-4 tab-cell px-2 py-2">
                    {{ instructor.firstName }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ instructor.profession }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ instructor.sessions|length }}
                </div>
            </div>
        </a>
    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">{{'No entry found'|trans}}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
