{% extends 'base.html.twig' %}

{% block title %}Instructor index{% endblock %}

{% block body %}
    <h1>Instructor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last_name</th>
                <th>First_name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.id }}</td>
                <td>{{ instructor.lastName }}</td>
                <td>{{ instructor.firstName }}</td>
                <td>
                    <a href="{{ path('instructor_show', {'id': instructor.id}) }}">show</a>
                    <a href="{{ path('instructor_edit', {'id': instructor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instructor_new') }}">Create new</a>
{% endblock %}
