{% extends 'base.html.twig' %}

{% block title %}Instructor{% endblock %}

{% block body %}
    <a href="{{ path('instructor_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('instructor_edit', {'id': instructor.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">Editer</button></a>
        </div>
    </div>

    <h1 class="text-center mb-5">{{ instructor.lastName }} {{ instructor.firstName }}</h1>


    <h5>Associated sessions ({{ instructor.sessions|length }})</h5>
    {% if instructor.sessions|length > 0 %}
        {% for session in instructor.sessions %}
            <h6 class='font-italic light-bottom-border pb-2'>{{ session.training.title }}</h6>
        {% endfor %}
    {% else %}
        <h6 class="font-italic text-danger mb-5">No sessions for this instructor</h6>
    {% endif %}

{% endblock %}
