{{ form_start(form) }}
    <h5>{{'Corporate name'|trans}}</h5>
    {{ form_errors(form.corporate_name) }}
    {{ form_widget(form.corporate_name, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Street'|trans}}</h5>
    {{ form_errors(form.street) }}
    {{ form_widget(form.street, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Postal code'|trans}}</h5>
    {{ form_errors(form.postal_code) }}
    {{ form_widget(form.postal_code, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'City'|trans}}</h5>
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Reference number'|trans}}</h5>
    {{ form_errors(form.reference_number) }}
    {{ form_widget(form.reference_number, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Phone'|trans}}</h5>
    {{ form_errors(form.phone_number) }}
    {{ form_widget(form.phone_number, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save'|trans) }}</button>
        </div>
    </div>
{{ form_end(form) }}
