{% extends 'base.html.twig' %}

{% block title %}{{'Company index'|trans}}{% endblock %}

{% block body %}

    <h1 class='text-center mb-3'>{{'Company list'|trans}}</h1>

    <div class="row text-center tab-header">
        <div class="col-4 tab-cell-header px-2 py-2">
            {{'Corporate name'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'Street'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Postal code'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'City'|trans}}
        </div>
    </div>
    {% for company in companies | sortByField('corporateName','asc') %}
        <a href="{{ path('company_show', {'id': company.id}) }}" class="link-unstyled">
            <div class="row text-center tab-row link-style-disabled">
                <div class="col-4 tab-cell px-2 py-2">
                    {{ company.corporateName }}
                </div>
                <div class="col-3 tab-cell px-2 py-2">
                    {{ company.street }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ company.postalCode }}
                </div>
                <div class="col-3 tab-cell px-2 py-2">
                    {{ company.city }}
                </div>
            </div>
        </a>
    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">{{'No entry found'|trans}}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
