{% extends 'base.html.twig' %}

{% block title %}{{'Company'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('update') == 'success' %}
        <div class="text-center mx-auto alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5>{{'Company successfuly updated'|trans}}</h5>
        </div>
    {% endif %}

    <a href="{{ path('company_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('company_edit', {'id': company.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Edit'|trans}}</button></a>
        </div>
    </div>

    <h1 class="text-center mb-5">{{ company.corporateName }}</h1>

    <div class='d-flex row mb-5 justify-content-around'>
    
        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-map-marker-alt fa-2x"></i><label class='h4 px-3'>{{'Address'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if (company.street) and (company.city) %}
                    <h5>{{ company.street }}</h5>
                    <h5>{{ company.postalCode }} - {{ company.city }}</h5>
                {% else %}
                    <a href="{{ path('company_edit', {'id': company.id}) }}"><h5 class="font-italic text-danger">{{'No address set for this company'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-phone fa-2x"></i><label class='h4 px-3'>{{'Phone'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if (company.phoneNumber ) %}
                    <h5>0{{ company.phoneNumber }}</h5>
                {% else %}
                    <a href="{{ path('company_edit', {'id': company.id}) }}"><h5 class="font-italic text-danger">{{'No phone number set for this company'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-hashtag fa-2x"></i><label class='h4 px-3'>{{'Reference number'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if (company.referenceNumber) %}
                    <h5>{{ company.referenceNumber }}</h5>
                {% else %}
                    <a href="{{ path('company_edit', {'id': company.id}) }}"><h5 class="font-italic text-danger">{{'No reference number set for this company'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-user-tie fa-2x"></i><label class='h4 px-3'>{{'Associated trainees'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if company.trainees|length > 0 %}
                    {% for trainee in company.trainees %}
                        <a href="{{ path('trainee_show', {'id': trainee.id}) }}"><h5>{{ trainee.lastName }} {{ trainee.firstName }}</h5></a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h5 class="font-italic text-danger">{{'No trainees set for this company'|trans}}</h5>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
