<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{{'Index'|trans}}
            {% endblock %}
        </title>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>

        {% if app.request.attributes.get('_route') != 'app_login' %}

        <nav class="navbar navbar-expand-md navbar-light custom-nav fixed-top">
            <img class="ml-5" width="50" src='{{ asset('images/logo.png') }}'> 
            <a class="navbar-brand" href="{{ path('default') }}">Formadytho</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav px-5">
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('default') }}">{{ 'Home'|trans }}</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="{{ path('session_index') }}">{{ 'Session'|trans }}</a>
                    </li>
                    <div class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{'Administration'|trans}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('instructor_index') }}">{{ 'Instructors'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('goal_index') }}">{{ 'Goals'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('location_index') }}">{{ 'Locations'|trans }}</a>
                            <hr>
                            <a class="dropdown-item" href="{{ path('trainee_index') }}">{{ 'Trainees'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('training_index') }}">{{ 'Trainings'|trans }}</a>
                            <a class="dropdown-item" href="{{ path('company_index') }}">{{ 'Companies'|trans }}</a>
                            <hr>
                            <a class="dropdown-item" href="{{ path('user_index') }}">{{ 'Users'|trans }}</a>
                        </div>
                    </div>
                    <li class="nav-item px-4">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#about">{{ 'About'|trans }}</a>
                    </li>
                    <li class="nav-item pl-4 pr-5">
                        <a class="nav-link text-danger" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
                    
        {% endif %}

        <main role="main" class="container">


            <div class="{% if app.request.attributes.get('_route') != 'app_login' %}starter-template{% endif %}"> 

            <div class="modal fade" id="about">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">{{'About Formadytho'|trans}}</h2>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{'Formadytho is a free software under an'|trans}} <a href='https://cecill.info/'>CeCILL</a> {{'license. It is developped with Symfony 4.'|trans}}</p>
                            <hr>
                            <h5>{{'Software developped by :'|trans}}</h5>
                            <p>2020 - HOCHET Dylan & HEUVELINE Thomas</p>
                            <hr>
                            <h5>{{'Libraries used :'|trans}}</h5>
                            <label class='w-100'>phpoffice/phpspreadsheet</label>
                            <label class='w-100'>phpoffice/phpword</label>
                            <hr>
                            <h5>{{'Version :'|trans}}</h5>
                            <label class='w-100'>1.0.0</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{{'Close'|trans}}</button>
                        </div>
                    </div>
                </div>
            </div>
            
                {% block body %}{% endblock %}

            </div>

        </main>
        <!-- /.container -->

    </body>
</html>
