{{ form_start(form) }}
    <h5>{{'Title'|trans}}</h5>
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save'|trans) }}</button>
        </div>
    </div>
{{ form_end(form) }}
