{% extends 'base.html.twig' %}

{% block title %}{{'Trainee index'|trans}}{% endblock %}

{% block body %}

    <h1 class='text-center mb-3'>{{'Trainee list'|trans}}</h1>

    <div class="row text-center tab-header">
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Civility'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'Last name'|trans}}
        </div>
        <div class="col-2 tab-cell-header px-2 py-2">
            {{'First name'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'Email'|trans}}
        </div>
        <div class="col-3 tab-cell-header px-2 py-2">
            {{'Company'|trans}}
        </div>
    </div>
    {% for trainee in trainees | sortByField('lastName','desc') %}
        <a href="{{ path('trainee_show', {'id': trainee.id}) }}" class="link-unstyled">
            <div class="row text-center tab-row link-style-disabled">
                <div class="col-2 tab-cell px-2 py-2">
                    {{ trainee.civility }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ trainee.lastName }}
                </div>
                <div class="col-2 tab-cell px-2 py-2">
                    {{ trainee.firstName }}
                </div>
                <div class="col-3 tab-cell px-2 py-2">
                    {{ trainee.email }}
                </div>
                <div class="col-3 tab-cell px-2 py-2">
                    {{ trainee.company }}
                </div>
            </div>
        </a>
    {% else %}
        <div class='row justify-content-center mt-2'>
            <div class='col text-center'>
                <div class="alert alert-danger">{{'No entry found'|trans}}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
