{% extends 'base.html.twig' %}

{% block title %}Trainee index{% endblock %}

{% block body %}
    <h1>Trainee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Last_name</th>
                <th>First_name</th>
                <th>Email</th>
                <th>Company</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trainee in trainees %}
            <tr>
                <td>{{ trainee.id }}</td>
                <td>{{ trainee.lastName }}</td>
                <td>{{ trainee.firstName }}</td>
                <td>{{ trainee.email }}</td>
                <td>{{ trainee.corporateName }}</td>
                <td>
                    <a href="{{ path('trainee_show', {'id': trainee.id}) }}">show</a>
                    <a href="{{ path('trainee_edit', {'id': trainee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trainee_new') }}">Create new</a>
{% endblock %}
