{% extends 'base.html.twig' %}

{% block title %}{{'Trainee'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('update') == 'success' %}
        <div class="text-center mx-auto alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5>{{'Trainee successfuly updated'|trans}}</h5>
        </div>
    {% endif %}

    <a href="{{ path('trainee_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('trainee_edit', {'id': trainee.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Edit'|trans}}</button></a>
        </div>
    </div>

    <h1 class="text-center mb-5">{{ trainee.civility }} {{ trainee.lastName }} {{ trainee.firstName }}</h1>

    <div class='d-flex row mb-5 justify-content-around'>
    
        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-envelope fa-2x"></i><label class='h4 px-3'>{{'Mail'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if trainee.email %}
                    <h5>{{ trainee.email }}</h5>
                {% else %}
                    <a href="{{ path('trainee_edit', {'id': trainee.id}) }}"><h5 class="font-italic text-danger">{{'No mail for this trainee'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon far fa-building fa-2x"></i><label class='h4 px-3'>{{'Company'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <a href="{{ path('company_show', {'id': trainee.company.id}) }}"><h5>{{ trainee.company }}</h5></a>
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-chalkboard-teacher fa-2x"></i><label class='h4 px-3'>{{'Associated sessions'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <h5>{{'Number :'|trans}} {{ trainee.sessions|length }}</h5>
                <hr>
                {% if trainee.sessions|length > 0 %}
                    {% for session in trainee.sessions %}
                        <a href="{{ path('session_show', {'id': session.id}) }}"><h5>{{ session.date|date('d-m-Y') }} : {{ session.training.title }}</h5></a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h5 class="font-italic text-danger">{{'No sessions for this trainee'|trans}}</h5>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
