{% extends 'base.html.twig' %}

{% block title %}SessionLocation{% endblock %}

{% block body %}
    <h1>SessionLocation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session_location.id }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ session_location.street }}</td>
            </tr>
            <tr>
                <th>Postal_code</th>
                <td>{{ session_location.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ session_location.city }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_location_index') }}">back to list</a>

    <a href="{{ path('session_location_edit', {'id': session_location.id}) }}">edit</a>

    {{ include('session_location/_delete_form.html.twig') }}
{% endblock %}
