{{ form_start(form) }}
    <label>Title</label>
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'mb-3'}}) }}

    <label>Platform</label>
    {{ form_errors(form.platform) }}
    {{ form_widget(form.platform, {'attr': {'class': 'mb-3'}}) }}

    <label>Reference number</label>
    {{ form_errors(form.reference_number) }}
    {{ form_widget(form.reference_number, {'attr': {'class': 'mb-3'}}) }}

    <label>Category</label>
    {{ form_errors(form.training_category) }}
    {{ form_widget(form.training_category, {'attr': {'class': 'mb-3'}}) }}

    <label>Goals</label>
    {{ form_errors(form.goals) }}
    {{ form_widget(form.goals, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
