{{ form_start(form) }}
    <h5>{{'Title'|trans}}</h5>
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Platform'|trans}}</h5>
    {{ form_errors(form.platform) }}
    {{ form_widget(form.platform, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Reference number'|trans}}</h5>
    {{ form_errors(form.reference_number) }}
    {{ form_widget(form.reference_number, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Goals'|trans}}</h5> 
    <a href="{{ path('goal_new')}}">
        <div class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-4 mb-3">{{'Nouvel objectif'|trans}}</div>
    </a>
    {{ form_errors(form.goals) }}
    {{ form_widget(form.goals, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
