{% extends 'base.html.twig' %}

{% block title %}{{'Training'|trans}}{% endblock %}

{% block body %}

    {% if app.request.get('update') == 'success' %}
        <div class="text-center mx-auto alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5>{{'Training successfuly updated'|trans}}</h5>
        </div>
    {% endif %}

    <a href="{{ path('training_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('training_edit', {'id': training.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Edit'|trans}}</button></a>
        </div>
    </div>

    <h1 class="text-center mb-5">{{ training.title }}</h1>

    <div class='d-flex row mb-5 justify-content-around'>
    
        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-database fa-2x"></i><label class='h4 px-3'>{{'Platform'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <h5>{{ training.platform }}</h5>
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-hashtag fa-2x"></i><label class='h4 px-3'>{{'Training reference'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                {% if training.referenceNumber != null %}
                    <h5>{{ training.referenceNumber }}</h5>
                {% else %}
                    <a href="{{ path('training_edit', {'id': training.id}) }}"><h5 class="font-italic text-danger">{{'Unknown training reference'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-bullseye fa-2x"></i><label class='h4 px-3'>{{'Goals'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <h5>{{'Number :'|trans}} {{ training.goals|length }}</h5>
                <hr>
                {% if training.goals|length > 0 %}
                    {% for goal in training.goals %}
                        <a href="{{ path('goal_show', {'id': goal.id}) }}"><h5>{{ goal.title }}</h5></a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <a href="{{ path('training_edit', {'id': training.id}) }}"><h5 class="font-italic text-danger">{{'No goal set for this training'|trans}}</h5></a>
                {% endif %}
            </div>
        </div>

        <div class='mb-4'>
            <div class='info-box-header p-3 text-center'><i class="info-box-icon fas fa-chalkboard-teacher fa-2x"></i><label class='h4 px-3'>{{'Associated sessions'|trans}}</label></div>
            <div class='info-box-content px-4 py-3 text-center'>
                <h5>{{'Number :'|trans}} {{ training.sessions|length }}</h5>
                <hr>
                {% if training.sessions|length > 0 %}
                    {% for session in training.sessions %}
                        <a href="{{ path('session_show', {'id': session.id}) }}"><h5>{{'Session :'|trans}} {{ session.date|date('d-m-Y') }} {{'at'|trans}} {{ session.location.city }}</h5></a>
                        <hr>
                    {% endfor %}
                {% else %}
                    <h5 class="font-italic text-danger">{{'No sessions for this training'|trans}}</h5>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
