{{ form_start(form) }}
    <h5>{{'Email'|trans}}</h5>
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'mb-3'}}) }}

    <h5>{{'Roles'|trans}}</h5>
    {{ form_errors(form.roles) }}
    {{ form_widget(form.roles, {'attr': {'class': 'mb-5'}}) }}

    <div class='row justify-content-center'>
        <div class='col text-center'>
            <button class="btn btn-lg btn-primary rad-rounded-xs px-5">{{ button_label|default('Save'|trans) }}</button>
        </div>
    </div>
{{ form_end(form) }}
