{% extends 'base.html.twig' %}

{% block title %}{{'User'|trans}}{% endblock %}

{% block body %}
    <a href="{{ path('user_index') }}"><i class="fas fa-chevron-left h1 back-btn"></i></a>
    
    <div class='row justify-content-center mb-5'>
        <div class='col text-center'>
            <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-lg btn-no-bg hover-pr rad-rounded-xs px-5">{{'Edit'|trans}}</button></a>
        </div>
    </div>

    <h1 class="text-center mb-5">{{ user.email }}</h1>

    <h5>{{'User roles'|trans}}</h5>
    <h6 class='font-italic mb-5'>{{ user.roles ? user.roles|json_encode : '' }}</h6>
{% endblock %}